service: alerta-utec-backend
frameworkVersion: '3'

provider:
  name: aws
  region: us-east-1
  runtime: python3.11
  memorySize: 512
  timeout: 30
  environment:
    INCIDENTS_TABLE: Incidents
    COMMENTS_TABLE: Comments
    NOTIFICATIONS_TABLE: Notifications
    S3_BUCKET: alerta-utec
    JWT_SECRET: ""
    CONNECTIONS_TABLE: WebSocketConnectionsV2
    SNS_TOPIC_ARN: { "Ref": "IncidentNotificationTopic" }
    WS_ENDPOINT: https://qp9cvpquch.execute-api.us-east-1.amazonaws.com/dev/
  role: arn:aws:iam::415457515231:role/LabRole

functions:

  # ---------- Autenticación ----------
  auth_register:
    handler: lambdas/auth_register.lambda_handler
    events:
      - http:
          path: auth/register
          method: post
          cors: true

  auth_login:
    handler: lambdas/auth_login.lambda_handler
    events:
      - http:
          path: auth/login
          method: post
          cors: true

  # ---------- Incidentes ----------
  incidents_create:
    handler: lambdas/incidents_create.lambda_handler
    events:
      - http:
          path: incidents
          method: post
          cors: true

  incidents_list:
    handler: lambdas/incidents_list.lambda_handler
    events:
      - http:
          path: incidents
          method: get
          cors: true

  incidents_get:
    handler: lambdas/incidents_get.lambda_handler
    events:
      - http:
          path: incidents/{id}
          method: get
          cors: true

  incidents_update:
    handler: lambdas/incidents_update.lambda_handler
    events:
      - http:
          path: incidents/{id}
          method: put
          cors: true

  incidents_assign:
    handler: lambdas/incidents_assign.lambda_handler
    events:
      - http:
          path: incidents/{id}/assign
          method: post
          cors: true

  # ---------- Comments ----------
  comments_create:
    handler: lambdas/comments_create.lambda_handler
    events:
      - http:
          path: incidents/{id}/comments
          method: post
          cors: true

  comments_list:
    handler: lambdas/comments_list.lambda_handler
    events:
      - http:
          path: incidents/{id}/comments
          method: get
          cors: true

  # ---------- Notificaciones ----------
  notifications_list:
    handler: lambdas/notifications_list.lambda_handler
    events:
      - http:
          path: notifications
          method: get
          cors: true

  notifications_mark_read:
    handler: lambdas/notifications_mark_read.lambda_handler
    events:
      - http:
          path: notifications/{id}/mark-read
          method: put
          cors: true

  # ---------- Admin ----------
  admin_list:
    handler: lambdas/admin_list.lambda_handler
    events:
      - http:
          path: users/admin-status
          method: get
          cors: true

  # ---------- Imágenes S3 ----------
  images_getSignedUrl:
    handler: lambdas/images_getSignedUrl.lambda_handler
    events:
      - http:
          path: images/signed-url
          method: get
          cors: true

  lambda_generate_presigned_url:
    handler: lambdas/lambda_generate_presigned_url.lambda_handler
    events:
      - http:
          path: images/generate
          method: post
          cors: true

  # ---------- WebSockets ----------
  websocket_connect:
    handler: lambdas/websocket_connect.lambda_handler
    events:
      - websocket:
          route: $connect

  websocket_disconnect:
    handler: lambdas/websocket_disconnect.lambda_handler
    events:
      - websocket:
          route: $disconnect

  websocket_default:
    handler: lambdas/websocket_default.lambda_handler
    events:
      - websocket:
          route: $default
  
  websocket_subscribe_incidents:
    handler: lambdas/websocket_subscribe_incidents.lambda_handler
    events:
      - websocket:
          route: subscribeIncidents

  # ---------- Stream ----------
  IncidentsStreamProcessor:
    handler: incidents_stream_processor.lambda_handler
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt:
              - IncidentsTable
              - StreamArn

  CommentsStreamProcessor:
    handler: comments_stream_processor.lambda_handler
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt:
              - CommentsTable
              - StreamArn          

  # ---------- Scheduled Lambda ----------
  CheckUpdatesLambda:
    handler: lambdas/CheckUpdatesLambda.lambda_handler
    events:
      - schedule: rate(1 minute)

resources:
  Resources:
    IncidentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Incidents
        AttributeDefinitions:
          - AttributeName: incidentId
            AttributeType: S
        KeySchema:
          - AttributeName: incidentId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    CommentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Comments
        AttributeDefinitions:
          - AttributeName: incidentId
            AttributeType: S
          - AttributeName: commentId
            AttributeType: S
        KeySchema:
          - AttributeName: incidentId
            KeyType: HASH
          - AttributeName: commentId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    NotificationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Notifications
        AttributeDefinitions:
          - AttributeName: notificationId
            AttributeType: S
        KeySchema:
          - AttributeName: notificationId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Users
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    WebSocketConnectionsTableV2:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: WebSocketConnectionsV2
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    S3Bucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: alerta-utec-2
        VersioningConfiguration:
          Status: Enabled
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true

    IncidentNotificationTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: AlertaUTEC-IncidentNotifications
        DisplayName: Alerta UTEC - Notificaciones de Incidentes